<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight Ticket Application</title>
  </head>
  <body>
    <header>
        <h2>Flight Ticket Booking</h2>
    </header>
    <nav>
      <ul>
        <li>User</li>
        <li>Admin</li>
      </ul>
    </nav>
    {{> login_1}}
    <footer>
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos autem
          quibusdam eius ullam facere eveniet dolorem id beatae! Facere cumque
          mollitia iure! Rem laboriosam dolore nobis aliquam nisi error illum.</p>
    </footer>
  </body>
</html>